{% extends 'base.html' %}

{% block content %}
<h1>Item List</h1>
<!-- Row for buttons -->
<div class="d-flex justify-content-between mb-3">
    <a href="{{ url_for('item.add_item') }}" class="btn btn-primary">Add Item</a>
    <!-- Placeholder for alignment -->
    <button form="bulkDeleteForm" type="submit" class="btn btn-danger">Delete Selected</button>
</div>

<!-- Form begins -->
<form id="bulkDeleteForm" action="{{ url_for('item.bulk_delete') }}" method="post">
    {{ form.hidden_tag() }}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">GL Code</th>
                <th scope="col">Actions</th>
                <th scope="col"><input type="checkbox" id="checkAll"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>${{ item.price }}</td>
                <td>{{ item.gl_code }}</td>
                <td>
                    <a href="{{ url_for('item.edit_item', item_id=item.id) }}" class="btn btn-sm btn-info">Edit</a>
                </td>
                <td><input type="checkbox" name="selected_items" value="{{ item.id }}"></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>
<script>
    document.getElementById('checkAll').onclick = function() {
        var checkboxes = document.getElementsByName('selected_items');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    }
</script>
{% endblock %}
